body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Custom styles for the table */
.table-container {
  margin: 20px;
}

.table-primary {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-primary th,
.table-primary td {
  border: 1px solid #00aaff; /* Table border color */
  padding: 10px;
  text-align: left;
}

.table-primary th {
  background-color: #d9ff00; /* Header background color */
  color: white; /* Header text color */
}

.table-primary tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Even row background color */
}

.table-primary tbody tr:hover {
  background-color: #cce5ff; /* Hovered row background color */
  
}







